# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/

# Jupyter Notebook
.ipynb_checkpoints/

# VS Code
.vscode/

# Streamlit cache
.streamlit/

# TensorFlow model files
*.h5
*.keras

# Saved ML artifacts
*.pkl

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Output folders
outputs/

# Temporary files
temp/
tmp/

# Build files
build/
dist/
*.egg-info/

# Pytest
.pytest_cache/

# Coverage reports
.coverage
htmlcov/

# Environment variables
.env